@use "variables.scss" as *;

/*
 * This bar do not occupy vertical space.
 */
#cc-menu-bar {
    position: relative;
    /*height: $cc-menu-bar-height;*/
    background-color: $cc-background;

    .header-container {
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        z-index: 9999;
        position: fixed;
        background-color: $cc-background;
    }

    header {
        position: fixed;
        z-index: 8000;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        height: $cc-menu-bar-height;
        align-items: center;
        border-bottom: 1px solid $cc-border-gray;
        /* background-color: #161616; */
    }

    header,
    .footer>div {
        position: initial !important;
    }

    .header-container header .brand {
        font-size: 1rem;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 2rem 0 1rem;
        user-select: none;
        transition: border-color 110ms;
        outline: none;

        a.title {
            font-size: 1.2rem;
            color: $text-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .header-container header .menu-nav{
        display: unset;
    }

    @media (min-width: 66rem) {
        .menu-nav{
            display: block;
        }
    }

    .menu-nav{
        position: relative;
        display: none;
        height: 100%;
        padding-left: 1rem;
    }

    .header-container header .menu-nav{
        display: unset;
    }

    @media (min-width: 66rem) {
        .menu-nav{
            display: block;
        }
    }

    .menu-nav{
        position: relative;
        display: none;
        height: 100%;
        padding-left: 1rem;
    }

    .menu-list {
        display: flex;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .header-container header .menu-nav.nav-item .expandable {
        border: 0 !important;
        border-bottom-width: 0px;
        border-bottom-style: none;
        border-bottom-color: $cc-border-gray /*currentcolor*/;
        border-bottom: 2px solid transparent !important;
        font-size: 16px;
    }

    .header--nav-submenu {
        position: absolute;
        display: flex;
        flex-direction: row;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        z-index: 8000;
        top: 0;
        left: 0;
        background-color: $cc-background;

        .menu-item {
            padding: 0;
        }
    }

    .submenu-wrapper {
        position: relative;
        display: none;
    }

    .submenu {
        list-style: none;
        flex-direction: column;
        display: flex;
        width: 12.5rem;
        flex-direction: column;
        margin-left: 1rem;
        // background-color: #262626;
        // transform: translateY(100%);

        &:first-child {
            margin-left: 0;
        }
    }

    .header-container header .submenu .menu-item .headerMenuItemArrowRight {
        margin-left: 0.5rem;
        margin-bottom: -6px;
        height: 23px;
        width: 18px;
    }

    .header-container header .menu-nav.nav-item .submenu {
        padding: 1rem;
        background-color: #fff;
    }

    .header-container header li.SubmenuHook>.submenu {
        flex-direction: row;
        width: unset;
    }

    .expandable[aria-expanded="true"] + .submenu-wrapper {
        display: block;
    }

    a.menu-item {
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        padding: 0 1rem;
        border: 2px solid transparent;
        color: $text-dark;
        font-size: .875rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.125rem;
        text-decoration: none;
        transition: background-color 110ms, border-color 110ms, color 110ms;
        user-select: none;

        svg {
            margin-left: .5rem;
        }
    }

    .header-container header .menu-nav.nav-item .expandable[aria-expanded="true"],
    .menu-item:hover {
        background-color: #e0e0e0;
        border-bottom-color: $link-color !important;
    }

    .expandable[aria-expanded="true"] > .menu-arrow {
        transform: rotate(180deg);
    }

    .truncated {
        display: inline-block;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .truncated {
        font-size: 16px;
        line-height: 1.3;
    }

    .submenu .menu-item {
        height: 2rem;
    }
}
